# /config/
/config/database.yml
/config/environment.rb
/config/sds.yml

# /db/
/db/schema.rb

# /log/
/log/*

# /tmp/
/tmp/*

# database files:
db/development_structure.sql
*pro.sql

# reports
#hudson/reports/*.xml
#hudson/reports/*.html
hudson/reports/spec/*
hudson/reports/spec/*
hudson/reports/features/*
hudson/reports/features/*
reports/*.html
reports/*.xml


# misc local resources
local_resources/*
