<h1>New report</h1>

<div class="pageEdit">
<% form_for(:report, :url => reports_path, :html => { :method => :post }) do |f| %>
  <div class="top">
    <div class='editbox'>
      <%= submit_tag "Create" %>
    </div>
    <div class='flashbox'>
      <span id='draft-message' class='flash'> <%= flash[:notice] %></span>
    </div>
  </div>
  <%= render :partial => 'form', :object => f %>
<% end %>
</div>
