<%= render(:partial => 'shared/header', :locals => {
  :location => 'top',
  :runnable => nil,
  :function => 'Create',
  :authorable_object => @report,
  :authorable_object_class => Report, 
  :all_viewable_objects => @all_viewable_reports, 
  :all_editable_objects => @all_editable_reports }) %>

<div class="pageEdit">
<% form_for(:report, :url => reports_path, :html => { :method => :post }) do |f| %>
  <div class="top">
    <div class='editbox'>
      <%= submit_tag "Create" %>
    </div>
  </div>
  <%= render :partial => 'form', :object => f %>
<% end %>
</div>