<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title><%= APP_PROPERTIES[:page_title_prefix] %>: <%= controller.controller_name.humanize %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag APP_PROPERTIES[:stylesheet] %>
  <%= javascript_include_tag :defaults unless current_user.disable_javascript %>
  <%= yield :head %>
</head>
<body>
  <div id="banner">
    <div id="logo"><a href="<%= APP_PROPERTIES[:home_link] %>"><%= image_tag(APP_PROPERTIES[:logo]) %></a></div>
    <h1><%= APP_PROPERTIES[:application_name] %></h1>
  </div>
  <div id="columns">
    <div id="side">
      <p>Welcome <%= current_user.roles.first.title.capitalize %>: <br />
        <%= current_user.name %><br />
        <%= if current_user.email != 'anonymous' then
          link_to "&#187; Logout", logout_path
        else
          link_to "&#187; Login/Register", login_path
        end %>
      </p>

      <p>
        <%= link_to "&#187; Home", :controller => "home" %><br />
        <% unless APP_PROPERTIES[:hide_activities] %>
          <%= link_to "&#187; Activities", activities_path %><br />
        <% end %>
        <% unless APP_PROPERTIES[:hide_models] %>
          <%= link_to "&#187; Models", {:action=>"index", :controller=>"models"} %><br />
        <% end %>
        <% unless APP_PROPERTIES[:hide_activities] %>
          <% restrict_to 'admin || manager' do %>
            <%= link_to "&#187; Calibrations", calibrations_path %><br />
            <%= link_to "&#187; Physical Units", physical_units_path %><br />
          <% end %>
          <% restrict_to 'admin' do %>
            <%= link_to "&#187; Model Types", model_types_path %><br />
            <%= link_to "&#187; Data Filters", data_filters_path %><br />
          <% end %>
        <% end %>
        <% if APP_PROPERTIES[:show_external_otrunk_activities] %>
          <%= link_to("&#187; " + APP_PROPERTIES[:external_otrunk_activities_title].pluralize, external_otrunk_activities_path) %><br />
          <% restrict_to 'admin' do %>
            <%= link_to("&#187; " + APP_PROPERTIES[:external_otrunk_activities_title] + " Report Templates", otrunk_report_templates_path) %><br />
            <%= link_to("&#187; " + APP_PROPERTIES[:external_otrunk_activities_title] + " Reports", reports_path) %><br />
          <% end %>
          <% restrict_to 'admin || manager' do %>
          <% end %>
        <% else %>
          <% restrict_to 'admin' do %>
            <%= link_to("&#187; External OTrunk Activities", external_otrunk_activities_path) %><br />
            <%= link_to("&#187; OTrunk Report Templates", otrunk_report_templates_path) %><br />
            <%= link_to("&#187; Reports", reports_path) %><br />
          <% end %>
          <% restrict_to 'admin || manager' do %>
          <% end %>
        <% end %>
        <% restrict_to 'admin || manager' do %>
          <%= link_to "&#187; Users", users_path %><br/>
          <%= link_to "&#187; Statistics", statistics_path %>
        <% end %>
      </p>

      <p>Probeware Interface:<br />
        <%= link_to "&#187; " + current_user.vendor_interface.name, interface_user_path(current_user) %>
      </p>

      <p>Probeware Drivers:<br />
        <a href="http://webapps.teemss2.concord.org/content/download_choice.html">&#187; Driver Installation</a>
      </p>

      <p>Questions/Feedback: <br />
        <%= mail_to("stephen@concord.org", "&#187; Send us an email", 
        :subject => "diy question", 
        :encode => "javascript") %>
      </p>
      <% restrict_to 'admin || manager' do %>
        <hr />
        <p>DIY System Data:</p>
        <p>
          SDS:<small> <%= link_to "#{SdsConnect::Connect.host_url}", SdsConnect::Connect.host_url %></small><br />
          Jnlp:<small> <%= link_to "#{SdsConnect::Connect.jnlp_id}", SdsConnect::Connect.jnlp_url %></small<br /> 
          Curnit:<small> <%= link_to "#{SdsConnect::Connect.curnit_id}", SdsConnect::Connect.curnit_url %></small<br /> 
        </p>
        <%= yield :admin_sidebar %>
        <p>Database:
          <% db_info = ActiveRecord::Base.configurations %>
          <br />type: <small><%= db_info[RAILS_ENV]['adapter'] %></small>
          <br />name: <small><%= db_info[RAILS_ENV]['database'] %></small>
          <% if host = db_info[RAILS_ENV]['host'] %>
            <br />host: <small><%= host %></small>
          <% end %>
        </p>
        <p>Subdomains: <br /><small><%= request.subdomains.join(', ') %></small></p>
      <% end %> 
    </div>
    <div id="main">
      <% if flash[:notice] -%> 
        <div id="notice"><%= flash[:notice] %></div> 
      <% end -%>
      <%= yield %>
      <div class='pageNotes'>
        <%= yield :footer %>
        <%= fix_web_start_warning %>
      </div>        
    </div>
  </div>
  <div class='clearBoth'>&nbsp;</div>
</body>
</html>
